.c-main-intro {
  min-height: 100vh;
  background:
    url('src/assets/images/logo_background.svg')
    no-repeat
    right top;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__hero {
    font-size: 3.6rem;
    z-index: 100;
  }

  &__background {
    position: absolute;
    right: 0;
    top: 0;

    width: 70%;

    z-index: 1;
  }

  &__mouse {
    align-items: center;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 48px;

    width: 100%;
    
    z-index: 1;
  }
}
