<footer class="c-app-footer-wrapper">
  <section class="o-wrapper">
    <div class="c-app-footer u-border-top">
      <div class="c-app-footer__content u-padding-top u-padding-bottom">
        <div class="o-grid u-1/1">
          <div class="o-grid__cell u-1/1@mobile u-1/2@tablet u-1/4@desktop u-margin-bottom">
            <div class="c-app-footer__company-data">
              <section>
                <header class="u-margin-bottom-small">
                  <h5 class="u-text-gray-800">Kaft Sp. z o.o.</h5>
                </header>
                <address class="u-font-style-normal u-text-normal">
                  ul. Złota 7/18<br>
                  00-019 Warszawa<br><br>
                  KRS: 0000445251<br>
                  REGON: 146461469<br>
                  NIP: 5252545285<br>
                </address>
              </section>
            </div>
          </div>
          <div class="o-grid__cell u-1/1@mobile u-1/2@tablet u-1/4@desktop u-margin-bottom">
            <div class="c-app-footer__contact-us">
              <section>
                <header class="u-margin-bottom-small">
                  <h5 class="u-text-gray-800">Contact us</h5>
                </header>
                <address class="u-font-style-normal u-text-normal">
                  <a href="mailto:kontakt@kaft.pl" class="c-btn-link">kontakt@kaft.pl</a><br><br>
                  <a href="tel:+48223507403" class="c-btn-link">+48 22 350 74 03</a>
                </address>
              </section>          
            </div>
          </div>
          <div class="o-grid__cell u-1/1@mobile u-1/1@tablet u-2/4@desktop u-margin-bottom">
            <div class="c-app-footer__message-form">
              <section>
                <header class="u-margin-bottom-small">
                  <h5 class="u-text-gray-800">Send a message</h5>
                </header>
                <form>
                  <div class="o-grid">
                    <div class="o-grid__cell">
                      <div class="c-text-field u-1/1 u-margin-bottom">
                        <textarea
                          class="c-text-field__textarea"
                          id="with-value"
                          placeholder="Your message"
                          rows="5"
                          type="text"
                        ></textarea>
                      </div>
                    </div>
                    <div class="o-grid__cell">
                      <div class="o-grid o-grid--middle">
                        <div class="o-grid__cell u-1/1@mobile u-1/1@tablet u-5/6@desktop">
                          <div class="c-text-field">
                            <input
                              id="with-value"
                              type="email"
                              placeholder="Your email"
                              class="c-text-field__input"
                            >
                          </div>
                        </div>
                        <div class="o-grid__cell u-1/1@mobile u-1/1@tablet u-1/6@desktop">
                          <input
                            type="submit"
                            value="Send"
                            class="c-btn c-btn--primary u-1/1"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </section>             
            </div>
          </div>
        </div>
      </div>
      <div class="c-app-footer__bottom u-border-top u-padding-top-small u-padding-bottom-small u-text-small">
        <span class="u-margin-right-large">© 2020 Kaft Sp. z o.o.</span>
        <span class="u-margin-right-large">Privacy</span>
        <span class="u-margin-right-large">Cookies</span>
      </div>
    </div>
  </section>
</footer>
