/* You can add global styles to this file, and also import other style files */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: .625em;
  line-height: 1.6;
  min-height: 100%;
}

html,
body {
  font-family: Ubuntu, sans-serif;
  background-color: #fafafa;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
